{% include "header.html" %} {% block content %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I'm Pushkar Oli, a final-year Computer Science student with a keen interest in technology and software development. I love exploring new ideas and working on projects that challenge my skills and creativity.
        </p>
        <p>
          My journey in programming has been a constant learning process. Whether it's web development, algorithms, or diving into emerging technologies, I’m always up for a challenge. I enjoy working on hands-on projects that let me solve real-world problems.
        </p>
        <p>
          When I'm not coding, you’ll find me learning about the latest trends in tech or exploring new ways to make digital experiences more engaging. Let’s collaborate and create something amazing!
        </p>
      </div>
    </div>
  </div>
</main>


{% include "footer.html" %} {% endblock %}
